<html>
  <head>
	<link rel="stylesheet" href="/static/style.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
	<script src="/static/script.js"></script>
    <link rel="stylesheet" href="https://pagination.js.org/dist/2.5.0/pagination.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://pagination.js.org/dist/2.5.0/pagination.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
    <style>
      #map {
        height: 400px;
        width: 100%;
      }
	  </style>
  </head>
  <body style="background:black">
       {{ template "navbar.tmpl" .}}
  <div id="map"></div>
  <div class="container">
  <div id="depremler" class="row justify-content-center">

  </div>
  </div>
<script>
 var map = L.map('map').setView([38.9637, 35.2433], 6);
 
      L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Son Depremler'
      }).addTo(map);

let data;
	fetch("/api/last/earthquakes").then(async(res)=>{
		data = await res.json();
		setTimeout(()=>{
			for(let i = 0;i < data.length;i++){
				let marker = L.marker([data[i].latitude,data[i].longitude]).addTo(map);
                marker.bindPopup(`
                <li>Konum : ${data[i].location}
                <li>Şiddet : ${data[i].violence} ML</li>
                <li>Derinlik : ${data[i].depth} KM</li>
                <li>Tarih : ${data[i].date}</li>
                `)
			}
		},1)
	})

</script>
</body>
</html>