{{ define "navbar.tmpl"}}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Kawethra</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Son Depremler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/konumum">Konumum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/yakinimi-bul">Yakınımı bul</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/kapali-yollar">Kapalı yollar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/harita">Harita</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
{{ end }}